header {
    background-image: url(../assets/profileHero.jpg);
    background-size: cover;
}

.title {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    h4, .iconNav {
        -webkit-animation: fadeInUp 4s; 
        -moz-animation: fadeInUp 4s; 
        -ms-animation: fadeInUp 4s;
        -o-animation: fadeInUp 4s; 
        animation: fadeInUp 4s;
        }
    i {
        color: $color-accent;
        margin-right: 20px;
        transition: all 0.5s;
        &:hover {
            color: gray;
        }
    }
}

@keyframes fadeInUp {
   0% {
        opacity: 0;
        transform: translateY(50px);
   }
   100% {
      transform: translateY(0);
      opacity: 1;
   }
}