// ABOUT SECTION BELOW

.about {
    padding: 25px 0 50px 0;
    &__div {
        display: flex;
        justify-content: space-between;

    }
    &__div__img {
        width: 25%;
        img {
            width: 100%;
            box-shadow: 5px 5px 10px gray;
        }
    }
    &__div__text {
        width: 70%;
        margin-left: 5%;
        p {
            span {
               @include headingFont(24);
               color: $color-accent;
            }
            margin-top: 0;
        }
    }
}


// PORTFOLIO SECTION BELOW

.work {
   padding-top: 25px; 
   h2 {
       background: $color-background;
       margin-bottom: 0;
       padding: 50px 0;
   }
}

.work__project {
    display: flex; 
    padding-bottom: 30px;
        &--1, &--3 {
            background: $color-background;
        }
        &__img {
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        filter: grayscale(100%);
        transition: all 0.5s;
            &:hover {
                filter: none;
                cursor: pointer;
            }
        }
}


.work__project__text {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    &--1, &--3 {
        text-align: right;
        display: flex;
        align-items: flex-end;
        ul {
            justify-content: flex-end;
            li {
                margin-left: 20px;
            }
        }
    }   
    &--2 li, &--4 li {
        margin-right: 20px;
    }
    ul {
        flex-wrap: wrap;
        padding: 0;
        display: flex;
        color: $color-accent;
        font-weight: 700;
        li {
            padding: 0;
        }
    }
    &--skills li {
        text-decoration: underline;
        margin-top: 10px;
    }
}

.viewLive {
    background: $color-accent;
    color: $color-sectxt;
    padding: 12px 22px;
    text-decoration: none;
    transition: all 0.25s;
    &:hover {
        background: $color-sectxt;
        color: $color-maintxt;
        border: 2px solid $color-accent;
    }
}

.viewGit {
    background: $color-sectxt;
    color: $color-maintxt;
    border: 2px solid $color-accent;
    padding: 10px 20px;
    text-decoration: none;
    transition: all 0.25s;
    &:hover {
        background: $color-accent;
        padding: 12px 22px;

    }
}


// IMAGES IN PORTFOLIO SECTION BELOW

.compORANGE {
    width: 70%;
}

.compGFMW {
    width: 90%;
    align-self: center;
}

.phoneORANGE {
    width: 15%;
    align-self: center;
}

.compTASTY {
    width: 80%;
    align-self: center;
    padding-left: 40px;
}

.compTTT {
    width: 80%;
    align-self: flex-start;
    padding-right: 20px;
}

.cupTTT {
    width: 15%;
    align-self: center;
}


// SKILLS SECTION BELOW

.skills {
    padding: 25px 0 50px 0;
    background: $color-background;
}

.skills__list {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    padding: 0;
    li {
        margin: 0 20px;
        i {
        font-size: 60px;
        margin: 10px 20px;
        }
        p {
        @include headingFont(12);
        color: $color-accent;
        }
    }
    &--firebase {
    width: 110px;
    height: 80px;
    filter: brightness(20%);
    }
    &--jQuery {
    width: 100px;
    height: 70px;
    }
}


// ANIMATIONS

.slideIn {
    opacity: 0;
}

.active {
    opacity: 1;
}
